version: "3.3"

services:
  backend:
    container_name: backend
    build:
      context: .
      dockerfile: ./backend/Dockerfile
      target: development
    command: npm run start:dev
    depends_on:
      - microservice-customer
      - microservice-products
      - microservice-trabajadores
    volumes:
      - ./backend/package.json:/usr/src/app/package.json
      - ./backend/tsconfig.json:/usr/src/app/tsconfig.json
      - ./backend/tsconfig.build.json:/usr/src/app/tsconfig.build.json
      - ./backend/src:/usr/src/app/src/
    ports:
      - '5000:5000'
    networks:
      - app-tier
  microservice-customer:
    container_name: microservice-customer
    build:
      context: .
      dockerfile: ./microservice-customer/Dockerfile
      target: development
    command: npm run start:dev
    ports:
      - '5001:5001'
    volumes:
      - ./microservice-customer/package.json:/usr/src/app/package.json
      - ./microservice-customer/tsconfig.json:/usr/src/app/tsconfig.json
      - ./microservice-customer/tsconfig.build.json:/usr/src/app/tsconfig.build.json
      - ./microservice-customer/src:/usr/src/app/src/
    networks:
      - app-tier
  microservice-products:
    container_name: microservice-products
    build:
      context: .
      dockerfile: ./microservice-products/Dockerfile
      target: development
    command: npm run start:dev
    ports:
      - '5002:5002'
    volumes:
      - ./microservice-products/package.json:/usr/src/app/package.json
      - ./microservice-products/tsconfig.json:/usr/src/app/tsconfig.json
      - ./microservice-products/tsconfig.build.json:/usr/src/app/tsconfig.build.json
      - ./microservice-products/src:/usr/src/app/src/
    networks:
      - app-tier
  microservice-trabajadores: 
    container_name: microservice-trabajadores
    build:
      context: .
      dockerfile: ./microservice-trabajadores/Dockerfile
      target: development
    command: npm run start:dev
    ports:
      - '5003:5003'
    volumes:
      - ./microservice-trabajadores/package.json:/usr/src/app/package.json
      - ./microservice-trabajadores/tsconfig.json:/usr/src/app/tsconfig.json
      - ./microservice-trabajadores/tsconfig.build.json:/usr/src/app/tsconfig.build.json
      - ./microservice-trabajadores/src:/usr/src/app/src/
    networks:
      - app-tier    
networks:
  app-tier:
    driver: bridge